* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*62.5% equivale a 10px, pois 100% é 18px (padrão do navegador)*/
}

body {
  height: 100vh;
  color: white;
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 "Nunito", sans-serif; /* rem referencia ao elemento Root, no caso a tag html */
}

